shax-examples/iso20022/xsd/semt.041.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.12) on 2017 Jan 31 09:24:23, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.041.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.041.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountSubLevel11">
        <xs:sequence>
            <xs:element name="AcctId" type="SecuritiesAccount19"/>
            <xs:element name="AcctOwnr" type="PartyIdentification100"/>
            <xs:element name="AcctSvcr" type="PartyIdentification100"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BnfclOwnr" type="BeneficialOwner2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalDtls" type="AggregateHoldingBalance3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl2" type="AccountSubLevel12"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl2Diff" type="AggregateHoldingBalance2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSubLevel12">
        <xs:sequence>
            <xs:element name="AcctId" type="SecuritiesAccount19"/>
            <xs:element name="AcctOwnr" type="PartyIdentification100"/>
            <xs:element name="AcctSvcr" type="PartyIdentification100"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BnfclOwnr" type="BeneficialOwner2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalDtls" type="AggregateHoldingBalance3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl3" type="AccountSubLevel13"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl3Diff" type="AggregateHoldingBalance2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSubLevel13">
        <xs:sequence>
            <xs:element name="AcctId" type="SecuritiesAccount19"/>
            <xs:element name="AcctOwnr" type="PartyIdentification100"/>
            <xs:element name="AcctSvcr" type="PartyIdentification100"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BnfclOwnr" type="BeneficialOwner2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalDtls" type="AggregateHoldingBalance3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl4" type="AccountSubLevel14"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl4Diff" type="AggregateHoldingBalance2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSubLevel14">
        <xs:sequence>
            <xs:element name="AcctId" type="SecuritiesAccount19"/>
            <xs:element name="AcctOwnr" type="PartyIdentification100"/>
            <xs:element name="AcctSvcr" type="PartyIdentification100"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BnfclOwnr" type="BeneficialOwner2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalDtls" type="AggregateHoldingBalance3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl5" type="AccountSubLevel15"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl5Diff" type="AggregateHoldingBalance2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSubLevel15">
        <xs:sequence>
            <xs:element name="AcctId" type="SecuritiesAccount19"/>
            <xs:element name="AcctOwnr" type="PartyIdentification100"/>
            <xs:element name="AcctSvcr" type="PartyIdentification100"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BnfclOwnr" type="BeneficialOwner2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalDtls" type="AggregateHoldingBalance3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl6" type="AccountSubLevel16"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl6Diff" type="AggregateHoldingBalance2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSubLevel16">
        <xs:sequence>
            <xs:element name="AcctId" type="SecuritiesAccount19"/>
            <xs:element name="AcctOwnr" type="PartyIdentification100"/>
            <xs:element name="AcctSvcr" type="PartyIdentification100"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BnfclOwnr" type="BeneficialOwner2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalDtls" type="AggregateHoldingBalance3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl7" type="AccountSubLevel17"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl7Diff" type="AggregateHoldingBalance2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSubLevel17">
        <xs:sequence>
            <xs:element name="AcctId" type="SecuritiesAccount19"/>
            <xs:element name="AcctOwnr" type="PartyIdentification100"/>
            <xs:element name="AcctSvcr" type="PartyIdentification100"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BnfclOwnr" type="BeneficialOwner2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalDtls" type="AggregateHoldingBalance3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl8" type="AccountSubLevel18"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl8Diff" type="AggregateHoldingBalance2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSubLevel18">
        <xs:sequence>
            <xs:element name="AcctId" type="SecuritiesAccount19"/>
            <xs:element name="AcctOwnr" type="PartyIdentification100"/>
            <xs:element name="AcctSvcr" type="PartyIdentification100"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BnfclOwnr" type="BeneficialOwner2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalDtls" type="AggregateHoldingBalance3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl9" type="AccountSubLevel19"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl9Diff" type="AggregateHoldingBalance2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSubLevel19">
        <xs:sequence>
            <xs:element name="AcctId" type="SecuritiesAccount19"/>
            <xs:element name="AcctOwnr" type="PartyIdentification100"/>
            <xs:element name="AcctSvcr" type="PartyIdentification100"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BnfclOwnr" type="BeneficialOwner2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalDtls" type="AggregateHoldingBalance3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AggregateHoldingBalance1">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HldgForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HldgPhysTp" type="PhysicalTransferType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BalForFinInstrm" type="FinancialInstrumentAggregateBalance1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AggregateHoldingBalance2">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BalForFinInstrm" type="FinancialInstrumentAggregateBalance1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AggregateHoldingBalance3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BalForAcct" type="AggregateHoldingBalance1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Agt" type="Intermediary29"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlternateIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="OtherIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrCtry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BeneficialOwner2">
        <xs:sequence>
            <xs:element name="BnfclOwnrId" type="PartyIdentification100"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="AlternateIdentification4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntlty" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmclCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonDmclCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnTp" type="BeneficiaryCertificationType9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BeneficiaryCertificationType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCI"/>
            <xs:enumeration value="DOMI"/>
            <xs:enumeration value="NDOM"/>
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="NCOM"/>
            <xs:enumeration value="QIBB"/>
            <xs:enumeration value="TRBD"/>
            <xs:enumeration value="PAPW"/>
            <xs:enumeration value="PABD"/>
            <xs:enumeration value="FRAC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BeneficiaryCertificationType9Choice">
        <xs:choice>
            <xs:element name="Cd" type="BeneficiaryCertificationType4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DatePeriod1Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtMnth" type="ISOYearMonth"/>
            <xs:element name="FrDtToDt" type="Period2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesBalTrnsprncyRpt" type="SecuritiesBalanceTransparencyReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="TOMN"/>
            <xs:enumeration value="TOWK"/>
            <xs:enumeration value="TWMN"/>
            <xs:enumeration value="OVNG"/>
            <xs:enumeration value="ONDE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentAggregateBalance1">
        <xs:sequence>
            <xs:element name="ItmDt" type="ISODate"/>
            <xs:element name="Hldgs" type="FinancialInstrumentAggregateBalance1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Pric" type="Price6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentAggregateBalance1Choice">
        <xs:choice>
            <xs:element name="HldgsInd" type="YesNoIndicator"/>
            <xs:element name="HldgBal" type="FinancialInstrumentAggregateBalance2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentAggregateBalance2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SttldBal" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TraddBal" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalBrkdwn" type="SubBalanceBreakdown1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Frequency22Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FrequencyGranularityType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMON"/>
            <xs:enumeration value="EWEK"/>
            <xs:enumeration value="ESEM"/>
            <xs:enumeration value="EQRT"/>
            <xs:enumeration value="EFRT"/>
            <xs:enumeration value="EDAY"/>
            <xs:enumeration value="ENDY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification56">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Bal" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Intermediary29">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification100"/>
            <xs:element name="Role" type="Role5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrOrgtrElgblty" type="OrderOriginatorEligibility1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InvestmentFundRole2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FMCO"/>
            <xs:enumeration value="REGI"/>
            <xs:enumeration value="TRAG"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="CONC"/>
            <xs:enumeration value="UCL1"/>
            <xs:enumeration value="UCL2"/>
            <xs:enumeration value="TRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Number3Choice">
        <xs:choice>
            <xs:element name="Shrt" type="Exact3NumericText"/>
            <xs:element name="Lng" type="Exact5NumericText"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OrderOriginatorEligibility1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="RETL"/>
            <xs:enumeration value="PROF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification4Choice">
        <xs:choice>
            <xs:element name="Cd" type="PersonIdentificationType6Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification100">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification71Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification71Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PersonIdentificationType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AREG"/>
            <xs:enumeration value="CPFA"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="EMID"/>
            <xs:enumeration value="IDCD"/>
            <xs:enumeration value="NRIN"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PASS"/>
            <xs:enumeration value="POCD"/>
            <xs:enumeration value="SOCS"/>
            <xs:enumeration value="SRSA"/>
            <xs:enumeration value="GUNL"/>
            <xs:enumeration value="ATIN"/>
            <xs:enumeration value="GTIN"/>
            <xs:enumeration value="ITIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhysicalTransferType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEMT"/>
            <xs:enumeration value="PHYS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Price6">
        <xs:sequence>
            <xs:element name="RateOrAmt" type="PriceRateOrAmountChoice"/>
            <xs:element name="Tp" type="TypeOfPrice13Code"/>
            <xs:element name="Src" type="PriceSource2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmountChoice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceSource2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FUND"/>
            <xs:enumeration value="THEO"/>
            <xs:enumeration value="VEND"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Role5Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentFundRole2Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingAccount7">
        <xs:sequence>
            <xs:element name="AcctId" type="SecuritiesAccount19"/>
            <xs:element name="AcctOwnr" type="PartyIdentification100"/>
            <xs:element name="AcctSvcr" type="PartyIdentification100"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BnfclOwnr" type="BeneficialOwner2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalDtls" type="AggregateHoldingBalance3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl1" type="AccountSubLevel11"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctSubLvl1Diff" type="AggregateHoldingBalance2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesBalanceTransparencyReportV02">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element name="SndrId" type="PartyIdentification100"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvrId" type="PartyIdentification100"/>
            <xs:element name="Pgntn" type="Pagination"/>
            <xs:element name="StmtGnlDtls" type="Statement59"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SfkpgAcctAndHldgs" type="SafekeepingAccount7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesBalanceType14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWAS"/>
            <xs:enumeration value="BTRA"/>
            <xs:enumeration value="BLOK"/>
            <xs:enumeration value="BLOV"/>
            <xs:enumeration value="BLCA"/>
            <xs:enumeration value="BLOT"/>
            <xs:enumeration value="BORR"/>
            <xs:enumeration value="OPNT"/>
            <xs:enumeration value="PNET"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="MARG"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="TRAN"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="REGO"/>
            <xs:enumeration value="BODE"/>
            <xs:enumeration value="BORE"/>
            <xs:enumeration value="PEDA"/>
            <xs:enumeration value="PECA"/>
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="LODE"/>
            <xs:enumeration value="LORE"/>
            <xs:enumeration value="PENR"/>
            <xs:enumeration value="PLED"/>
            <xs:enumeration value="RSTR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="WDOC"/>
            <xs:enumeration value="GRP1"/>
            <xs:enumeration value="GRP2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SenderBusinessRole1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AOWN"/>
            <xs:enumeration value="ASER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Statement59">
        <xs:sequence>
            <xs:element name="SndrBizRole" type="SenderBusinessRole1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtNb" type="Number3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryRef" type="Max35Text"/>
            <xs:element name="StmtId" type="Max35Text"/>
            <xs:element name="StmtDtTm" type="DateAndDateTimeChoice"/>
            <xs:element name="StmtPrd" type="DatePeriod1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frqcy" type="Frequency22Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrqcyGrnlrty" type="FrequencyGranularityType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdTp" type="UpdateType4Choice"/>
            <xs:element name="ActvtyInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementUpdateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SubBalanceBreakdown1">
        <xs:sequence>
            <xs:element name="SubBalTp" type="SubBalanceType9Choice"/>
            <xs:element name="Qty" type="SubBalanceQuantity5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubBalanceQuantity5Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="Prtry" type="GenericIdentification56"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SubBalanceType9Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesBalanceType14Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfPrice13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDE"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="NAVL"/>
            <xs:enumeration value="CREA"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="SWNG"/>
            <xs:enumeration value="MIDD"/>
            <xs:enumeration value="RINV"/>
            <xs:enumeration value="NAVS"/>
            <xs:enumeration value="SWIC"/>
            <xs:enumeration value="GAVL"/>
            <xs:enumeration value="DDVR"/>
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="EGAV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UpdateType4Choice">
        <xs:choice>
            <xs:element name="Cd" type="StatementUpdateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
