shax-examples/iso20022/xsd/setr.058.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.12) on 2017 Jan 31 09:37:06, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:setr.058.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:setr.058.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalReference8">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification7">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdSrc" type="IdentificationSource1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Bloomberg2Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="(BBG)[BCDFGHJKLMNPQRSTVWXYZ\d]{8}\d"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateFormat42Choice">
        <xs:choice>
            <xs:element name="YrMnth" type="ISOYearMonth"/>
            <xs:element name="YrMnthDay" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ReqForOrdrConfStsRpt" type="RequestForOrderConfirmationStatusReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument57">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctGrp" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsId" type="Series1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:choice>
            <xs:element name="Dmst" type="CountryCode"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount58">
        <xs:sequence>
            <xs:element name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OwnrId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrOrgtrElgblty" type="OrderOriginatorEligibility1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctDtls" type="SubAccount6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentFundOrder8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element name="OrdrRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAcctDtls" type="InvestmentAccount58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmDtls" type="FinancialInstrument57"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageAndBusinessReference10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="References62Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="AdditionalReference8"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OrdrRef" type="InvestmentFundOrder8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OrderOriginatorEligibility1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="RETL"/>
            <xs:enumeration value="PROF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification113">
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification90Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification90Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="References62Choice">
        <xs:choice>
            <xs:element maxOccurs="2" minOccurs="1" name="PrvsRef" type="AdditionalReference8"/>
            <xs:element maxOccurs="2" minOccurs="1" name="OthrRef" type="AdditionalReference8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RequestForOrderConfirmationStatusReportV02">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ReqDtls" type="MessageAndBusinessReference10"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification25Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="SEDOL" type="SEDOLIdentifier"/>
            <xs:element name="CUSIP" type="CUSIPIdentifier"/>
            <xs:element name="RIC" type="RICIdentifier"/>
            <xs:element name="TckrSymb" type="TickerIdentifier"/>
            <xs:element name="Blmbrg" type="Bloomberg2Identifier"/>
            <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
            <xs:element name="QUICK" type="QUICKIdentifier"/>
            <xs:element name="Wrtppr" type="WertpapierIdentifier"/>
            <xs:element name="Dtch" type="DutchIdentifier"/>
            <xs:element name="Vlrn" type="ValorenIdentifier"/>
            <xs:element name="SCVM" type="SicovamIdentifier"/>
            <xs:element name="Belgn" type="BelgianIdentifier"/>
            <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
            <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Series1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsDt" type="DateFormat42Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SubAccount6">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>
