shax-examples/iso20022/xsd/setr.016.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.12) on 2017 Jan 31 09:37:06, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:setr.016.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:setr.016.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalAmount1Choice">
        <xs:choice>
            <xs:element name="AddtlCshIn" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="RsltgCshOut" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AdditionalReference8">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification7">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdSrc" type="IdentificationSource1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Bloomberg2Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="(BBG)[BCDFGHJKLMNPQRSTVWXYZ\d]{8}\d"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="CancelledReason12Choice">
        <xs:choice>
            <xs:element name="Cd" type="CancelledStatusReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancelledStatusReason16">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="CancelledReason12Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANH"/>
            <xs:enumeration value="CANP"/>
            <xs:enumeration value="CXLR"/>
            <xs:enumeration value="CANO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ChargeType5Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentFundFee1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ConditionallyAcceptedStatus3Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="5" minOccurs="1" name="RsnDtls" type="ConditionallyAcceptedStatusReason3"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ConditionallyAcceptedStatusReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="AWRM"/>
            <xs:enumeration value="AWSM"/>
            <xs:enumeration value="DUPL"/>
            <xs:enumeration value="CRED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ConditionallyAcceptedStatusReason3">
        <xs:sequence>
            <xs:element name="Rsn" type="ConditionallyAcceptedStatusReason3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConditionallyAcceptedStatusReason3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ConditionallyAcceptedStatusReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat42Choice">
        <xs:choice>
            <xs:element name="YrMnth" type="ISOYearMonth"/>
            <xs:element name="YrMnthDay" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="OrdrInstrStsRpt" type="OrderInstructionStatusReportV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExpectedExecutionDetails2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdTradDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdCshSttlmDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExpectedExecutionDetails4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdTradDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdCshSttlmDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fee3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ChargeType5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RprdStdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RprdStdRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RprdDscntAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RprdDscntRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RprdReqdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RprdReqdRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComrclAgrmtRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewComrclAgrmtRefInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument57">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctGrp" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsId" type="Series1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FundOrderData5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAcctDtls" type="InvestmentAccount58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmDtls" type="FinancialInstrument57"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitsNb" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HldgsRedRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundOrderData6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmMtd" type="DeliveryReceiptType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlAmt" type="AdditionalAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GateHoldBack1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GATE"/>
            <xs:enumeration value="HOLD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldBackInformation3">
        <xs:sequence>
            <xs:element name="Tp" type="GateHoldBack1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdRlsDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmNm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedCmpltn" type="RedemptionCompletion1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:choice>
            <xs:element name="Dmst" type="CountryCode"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InRepairStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InRepairStatusReason4">
        <xs:sequence>
            <xs:element name="Rsn" type="InRepairStatusReason5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InRepairStatusReason4Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="5" minOccurs="1" name="RsnDtls" type="InRepairStatusReason4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InRepairStatusReason5Choice">
        <xs:choice>
            <xs:element name="Cd" type="InRepairStatusReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IndividualOrderStatusAndReason7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element name="OrdrRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRef" type="Max35Text"/>
            <xs:element name="OrdrSts" type="OrderStatus5Choice"/>
            <xs:element maxOccurs="10" minOccurs="0" name="RprdFee" type="Fee3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInitr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrData" type="FundOrderData5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewDtls" type="ExpectedExecutionDetails4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GtgOrHldBckDtls" type="HoldBackInformation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount58">
        <xs:sequence>
            <xs:element name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OwnrId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrOrgtrElgblty" type="OrderOriginatorEligibility1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctDtls" type="SubAccount6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InvestmentFundFee1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEND"/>
            <xs:enumeration value="BRKF"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CDPL"/>
            <xs:enumeration value="CDSC"/>
            <xs:enumeration value="CBCH"/>
            <xs:enumeration value="DLEV"/>
            <xs:enumeration value="FEND"/>
            <xs:enumeration value="INIT"/>
            <xs:enumeration value="ADDF"/>
            <xs:enumeration value="POST"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="SHIP"/>
            <xs:enumeration value="SWIT"/>
            <xs:enumeration value="UCIC"/>
            <xs:enumeration value="REGF"/>
            <xs:enumeration value="PENA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegIdentification1Choice">
        <xs:choice>
            <xs:element name="RedLegId" type="Max35Text"/>
            <xs:element name="SbcptLegId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrderInstructionStatusReportV04">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="References61Choice"/>
            <xs:element name="StsRpt" type="Status24Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OrderOriginatorEligibility1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="RETL"/>
            <xs:enumeration value="PROF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrderStatus3Choice">
        <xs:choice>
            <xs:element name="Sts" type="OrderStatus4Code"/>
            <xs:element name="Canc" type="CancelledStatusReason16"/>
            <xs:element name="CondlyAccptd" type="ConditionallyAcceptedStatus3Choice"/>
            <xs:element maxOccurs="10" minOccurs="1" name="Rjctd" type="RejectedStatus9"/>
            <xs:element name="Sspd" type="SuspendedStatusReason4Choice"/>
            <xs:element name="PrtlySttld" type="PartiallySettledStatus10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrderStatus4Choice">
        <xs:choice>
            <xs:element name="Sts" type="OrderStatus4Code"/>
            <xs:element name="Canc" type="CancelledStatusReason16"/>
            <xs:element name="CondlyAccptd" type="ConditionallyAcceptedStatus3Choice"/>
            <xs:element maxOccurs="10" minOccurs="1" name="Rjctd" type="RejectedStatus9"/>
            <xs:element name="Sspd" type="SuspendedStatusReason4Choice"/>
            <xs:element name="InRpr" type="InRepairStatusReason4Choice"/>
            <xs:element name="PrtlySttld" type="PartiallySettledStatus10"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OrderStatus4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="COSE"/>
            <xs:enumeration value="STNP"/>
            <xs:enumeration value="RECE"/>
            <xs:enumeration value="SETT"/>
            <xs:enumeration value="CPNP"/>
            <xs:enumeration value="CNFC"/>
            <xs:enumeration value="DONE"/>
            <xs:enumeration value="DONF"/>
            <xs:enumeration value="OPOD"/>
            <xs:enumeration value="IACO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrderStatus5Choice">
        <xs:choice>
            <xs:element name="Sts" type="OrderStatus4Code"/>
            <xs:element name="Canc" type="CancelledStatusReason16"/>
            <xs:element name="CondlyAccptd" type="ConditionallyAcceptedStatus3Choice"/>
            <xs:element maxOccurs="10" minOccurs="1" name="Rjctd" type="RejectedStatus9"/>
            <xs:element name="Sspd" type="SuspendedStatusReason4Choice"/>
            <xs:element name="InRpr" type="InRepairStatusReason4Choice"/>
            <xs:element name="PrtlySttld" type="PartiallySettledStatus10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrderStatusAndReason10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element name="OrdrSts" type="OrderStatus3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInitr" type="PartyIdentification113"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartiallySettled21Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettledStatusReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartiallySettledStatus10">
        <xs:sequence>
            <xs:element name="Rsn" type="PartiallySettled21Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification113">
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification90Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification90Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RedemptionCompletion1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RED0"/>
            <xs:enumeration value="RED1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="References61Choice">
        <xs:choice>
            <xs:element maxOccurs="2" minOccurs="1" name="RltdRef" type="AdditionalReference8"/>
            <xs:element maxOccurs="2" minOccurs="1" name="OthrRef" type="AdditionalReference8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedReason20Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectedStatusReason11Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedStatus9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="RejectedReason20Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectedStatusReason11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLCA"/>
            <xs:enumeration value="BLTR"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="ILLI"/>
            <xs:enumeration value="BMIN"/>
            <xs:enumeration value="BMRA"/>
            <xs:enumeration value="BMRV"/>
            <xs:enumeration value="CUTO"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="IDDB"/>
            <xs:enumeration value="ORRF"/>
            <xs:enumeration value="FEEE"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="IDNA"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="CLOS"/>
            <xs:enumeration value="IPAC"/>
            <xs:enumeration value="INSU"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="ICTR"/>
            <xs:enumeration value="IOTP"/>
            <xs:enumeration value="DFOR"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="LOCK"/>
            <xs:enumeration value="NRGM"/>
            <xs:enumeration value="NSLA"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="IPAY"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="DLVY"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="IVAG"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="ISAF"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="SHIG"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="SLOW"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="UWAI"/>
            <xs:enumeration value="UDCY"/>
            <xs:enumeration value="UNAV"/>
            <xs:enumeration value="UPAY"/>
            <xs:enumeration value="URSC"/>
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="UNSC"/>
            <xs:enumeration value="POIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification25Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="SEDOL" type="SEDOLIdentifier"/>
            <xs:element name="CUSIP" type="CUSIPIdentifier"/>
            <xs:element name="RIC" type="RICIdentifier"/>
            <xs:element name="TckrSymb" type="TickerIdentifier"/>
            <xs:element name="Blmbrg" type="Bloomberg2Identifier"/>
            <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
            <xs:element name="QUICK" type="QUICKIdentifier"/>
            <xs:element name="Wrtppr" type="WertpapierIdentifier"/>
            <xs:element name="Dtch" type="DutchIdentifier"/>
            <xs:element name="Vlrn" type="ValorenIdentifier"/>
            <xs:element name="SCVM" type="SicovamIdentifier"/>
            <xs:element name="Belgn" type="BelgianIdentifier"/>
            <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
            <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Series1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsDt" type="DateFormat42Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettledStatusReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CPST"/>
            <xs:enumeration value="GATM"/>
            <xs:enumeration value="GAT1"/>
            <xs:enumeration value="UCPS"/>
            <xs:enumeration value="UPST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="Status24Choice">
        <xs:choice>
            <xs:element name="OrdrDtlsRpt" type="OrderStatusAndReason10"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="IndvOrdrDtlsRpt" type="IndividualOrderStatusAndReason7"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SwtchOrdrDtlsRpt" type="SwitchOrderStatusAndReason2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SubAccount6">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SuspendedStatusReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIC"/>
            <xs:enumeration value="FLOW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SuspendedStatusReason4">
        <xs:sequence>
            <xs:element name="Rsn" type="SuspendedStatusReason5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SuspendedStatusReason4Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="5" minOccurs="1" name="RsnDtls" type="SuspendedStatusReason4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SuspendedStatusReason5Choice">
        <xs:choice>
            <xs:element name="Cd" type="SuspendedStatusReason3Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SwitchLegReferences2">
        <xs:sequence>
            <xs:element name="LegId" type="LegIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LegRjctnRsn" type="Max350Text"/>
            <xs:element maxOccurs="10" minOccurs="0" name="RprdFee" type="Fee3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAcctDtls" type="InvestmentAccount58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmDtls" type="FinancialInstrument57"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SwitchOrderStatusAndReason2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element name="OrdrRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRef" type="Max35Text"/>
            <xs:element name="OrdrSts" type="OrderStatus4Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LegInf" type="SwitchLegReferences2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInitr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrData" type="FundOrderData6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewDtls" type="ExpectedExecutionDetails2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
