shax-examples/iso20022/xsd/setr.004.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.12) on 2017 Jan 31 09:37:06, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:setr.004.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:setr.004.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account22">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification113"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountIdentificationAndName5">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference8">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference9">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification7">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdSrc" type="IdentificationSource1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AustrianBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AT[0-9]{5,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Bloomberg2Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="(BBG)[BCDFGHJKLMNPQRSTVWXYZ\d]{8}\d"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSParticipantIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CP[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="CanadianPaymentsARNIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CA[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationRight1Choice">
        <xs:choice>
            <xs:element name="Cd" type="CancellationRight1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CancellationRight1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VALI"/>
            <xs:enumeration value="NOXO"/>
            <xs:enumeration value="NOWA"/>
            <xs:enumeration value="NOIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ChargeBasis2Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxationBasis5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ChargeOrCommissionDiscount1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="WaivingInstruction2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargeType5Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentFundFee1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Cheque9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"/>
            <xs:element name="PyeeId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrweeId" type="FinancialInstitutionIdentification10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrwrId" type="PartyIdentification113"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentificationChoice">
        <xs:choice>
            <xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
            <xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
            <xs:element name="IENSC" type="IrishNSCIdentifier"/>
            <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
            <xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
            <xs:element name="CHBC" type="SwissBCIdentifier"/>
            <xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
            <xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
            <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
            <xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
            <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
            <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
            <xs:element name="CHSIC" type="SwissSICIdentifier"/>
            <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
            <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
            <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
            <xs:element name="HKNCC" type="HongKongBankIdentifier"/>
            <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
            <xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ConductClassification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSTA"/>
            <xs:enumeration value="RCLT"/>
            <xs:enumeration value="STAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CopyInformation4">
        <xs:sequence>
            <xs:element name="CpyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlRcvr" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CountryAndResidentialStatusType2">
        <xs:sequence>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="ResdtlSts" type="ResidentialStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditTransfer8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAcct" type="AccountIdentificationAndName5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgt" type="FinancialInstitutionIdentification10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcct" type="AccountIdentificationAndName5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1" type="FinancialInstitutionIdentification10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1Acct" type="AccountIdentificationAndName5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2" type="FinancialInstitutionIdentification10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2Acct" type="AccountIdentificationAndName5"/>
            <xs:element name="CdtrAgt" type="FinancialInstitutionIdentification10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcct" type="AccountIdentificationAndName5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="PartyIdentification113"/>
            <xs:element name="CdtrAcct" type="AccountIdentificationAndName5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomerConductClassification1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ConductClassification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat42Choice">
        <xs:choice>
            <xs:element name="YrMnth" type="ISOYearMonth"/>
            <xs:element name="YrMnthDay" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeliveringPartiesAndAccount16">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrrsCtdnDtls" type="PartyIdentificationAndAccount147"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrrsIntrmy1Dtls" type="PartyIdentificationAndAccount147"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrrsIntrmy2Dtls" type="PartyIdentificationAndAccount147"/>
            <xs:element name="DlvrgAgtDtls" type="PartyIdentificationAndAccount147"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeliveryParameters3">
        <xs:sequence>
            <xs:element name="Adr" type="NameAndAddress4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssdCertNb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RedOrdr" type="RedemptionOrderV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="Equalisation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExemptionReason1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxExemptReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FedwireRoutingNumberIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="FW[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Fee1">
        <xs:sequence>
            <xs:element name="Tp" type="ChargeType5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="ChargeBasis2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StdRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DscntDtls" type="ChargeOrCommissionDiscount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonStdSLARef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptId" type="PartyIdentification113"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FeeAndTax1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ComrclAgrmtRef" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IndvFee" type="Fee1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IndvTax" type="Tax30"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FinancialAdvice1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECE"/>
            <xs:enumeration value="NREC"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification10">
        <xs:sequence>
            <xs:element name="Pty" type="FinancialInstitutionIdentification8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8Choice">
        <xs:choice>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="BICFI" type="BICFIIdentifier"/>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice"/>
            <xs:element name="PrtryId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument57">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctGrp" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsId" type="Series1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity28Choice">
        <xs:choice>
            <xs:element name="UnitsNb" type="DecimalNumber"/>
            <xs:element name="GrssAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="NetAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="HldgsRedRate" type="PercentageRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms32">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtgInstn" type="PartyIdentification113"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FundCashAccount2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CPFO"/>
            <xs:enumeration value="CPFS"/>
            <xs:enumeration value="SRSA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FundOrderType4Choice">
        <xs:choice>
            <xs:element name="Cd" type="FundOrderType8Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FundOrderType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSPN"/>
            <xs:enumeration value="NCPN"/>
            <xs:enumeration value="SWSP"/>
            <xs:enumeration value="CWSP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FundOrderType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEDB"/>
            <xs:enumeration value="INVP"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="RGSV"/>
            <xs:enumeration value="RGSU"/>
            <xs:enumeration value="RDIV"/>
            <xs:enumeration value="STAF"/>
            <xs:enumeration value="WIDP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FundSettlementParameters12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="ISODate"/>
            <xs:element name="SttlmPlc" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesSttlmSysId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradTxCond" type="TradeTransactionCondition8Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmTxCond" type="SettlementTransactionCondition30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSdDtls" type="ReceivingPartiesAndAccount16"/>
            <xs:element name="DlvrgSdDtls" type="DeliveringPartiesAndAccount16"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification164">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="OtherIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification78">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GermanBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="BL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HongKongBankIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="HK[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:choice>
            <xs:element name="Dmst" type="CountryCode"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="IncomePreference1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="DRIP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IndividualPerson32">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryAndResdtlSts" type="CountryAndResidentialStatusType2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="GenericIdentification164"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Intermediary40">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="Account22"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrOrgtrElgblty" type="OrderOriginatorEligibility1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Role" type="InvestmentFundRole2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount58">
        <xs:sequence>
            <xs:element name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OwnrId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrOrgtrElgblty" type="OrderOriginatorEligibility1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctDtls" type="SubAccount6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount60">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="InvestmentAccountType1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccountType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="FundCashAccount2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InvestmentFundFee1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEND"/>
            <xs:enumeration value="BRKF"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CDPL"/>
            <xs:enumeration value="CDSC"/>
            <xs:enumeration value="CBCH"/>
            <xs:enumeration value="DLEV"/>
            <xs:enumeration value="FEND"/>
            <xs:enumeration value="INIT"/>
            <xs:enumeration value="ADDF"/>
            <xs:enumeration value="POST"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="SHIP"/>
            <xs:enumeration value="SWIT"/>
            <xs:enumeration value="UCIC"/>
            <xs:enumeration value="REGF"/>
            <xs:enumeration value="PENA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestmentFundRole2Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentFundRole2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InvestmentFundRole2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FMCO"/>
            <xs:enumeration value="REGI"/>
            <xs:enumeration value="TRAG"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="CONC"/>
            <xs:enumeration value="UCL1"/>
            <xs:enumeration value="UCL2"/>
            <xs:enumeration value="TRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestmentFundsOrderBreakdown2">
        <xs:sequence>
            <xs:element name="OrdrBrkdwnTp" type="OrderBreakdownType1Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IrishNSCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IE[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItalianDomesticIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IT[0-9]{10,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NegotiatedTrade1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEGO"/>
            <xs:enumeration value="NNGO"/>
            <xs:enumeration value="UNKW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NewZealandNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="NZ[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrderBreakdownType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="FundOrderType5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OrderOriginatorEligibility1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="RETL"/>
            <xs:enumeration value="PROF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrderWaiver1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OrdrWvrRsn" type="OrderWaiverReason3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InfVal" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OrderWaiverReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="FEND"/>
            <xs:enumeration value="BMIN"/>
            <xs:enumeration value="CUTO"/>
            <xs:enumeration value="COMW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrderWaiverReason3Choice">
        <xs:choice>
            <xs:element name="Cd" type="OrderWaiverReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OtherIdentification3Choice">
        <xs:choice>
            <xs:element name="Cd" type="PartyIdentificationType7Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification113">
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification90Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification90Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount147">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyIdentificationType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATIN"/>
            <xs:enumeration value="IDCD"/>
            <xs:enumeration value="NRIN"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PASS"/>
            <xs:enumeration value="POCD"/>
            <xs:enumeration value="SOCS"/>
            <xs:enumeration value="SRSA"/>
            <xs:enumeration value="GUNL"/>
            <xs:enumeration value="GTIN"/>
            <xs:enumeration value="ITIN"/>
            <xs:enumeration value="CPFA"/>
            <xs:enumeration value="AREG"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="EMID"/>
            <xs:enumeration value="NINV"/>
            <xs:enumeration value="INCL"/>
            <xs:enumeration value="GIIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentInstrument21Choice">
        <xs:choice>
            <xs:element name="CdtTrfDtls" type="CreditTransfer8"/>
            <xs:element name="ChqDtls" type="Cheque9"/>
            <xs:element name="BkrsDrftDtls" type="Cheque9"/>
            <xs:element name="CshAcctDtls" type="InvestmentAccount60"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PaymentTransaction72">
        <xs:sequence>
            <xs:element name="PmtInstrm" type="PaymentInstrument21Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PlaceOfTradeIdentification1Choice">
        <xs:choice>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="Xchg" type="MICIdentifier"/>
            <xs:element name="Pty" type="AnyBICIdentifier"/>
            <xs:element name="OverTheCntr" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PortugueseNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="PT[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReceivingPartiesAndAccount16">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvrsCtdnDtls" type="PartyIdentificationAndAccount147"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvrsIntrmy1Dtls" type="PartyIdentificationAndAccount147"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvrsIntrmy2Dtls" type="PartyIdentificationAndAccount147"/>
            <xs:element name="RcvgAgtDtls" type="PartyIdentificationAndAccount147"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RedemptionMultipleOrder6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfTrad" type="PlaceOfTradeIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdFutrTradDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRght" type="CancellationRight1Choice"/>
            <xs:element name="InvstmtAcctDtls" type="InvestmentAccount58"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BnfcryDtls" type="IndividualPerson32"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="IndvOrdrDtls" type="RedemptionOrder14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlkCshSttlmDtls" type="PaymentTransaction72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlSttlmAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RedemptionOrder14">
        <xs:sequence>
            <xs:element name="OrdrRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="Max35Text"/>
            <xs:element maxOccurs="10" minOccurs="0" name="OrdrTp" type="FundOrderType4Choice"/>
            <xs:element name="FinInstrmDtls" type="FinancialInstrument57"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctForHldg" type="SubAccount6"/>
            <xs:element name="AmtOrUnitsOrPctg" type="FinancialInstrumentQuantity28Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rndg" type="RoundingDirection2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmMtd" type="DeliveryReceiptType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmPref" type="IncomePreference1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Grp1Or2Units" type="UKTaxGroupUnit1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxOvrhd" type="FeeAndTax1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAndCtdyDtls" type="FundSettlementParameters12"/>
            <xs:element name="PhysDlvryInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhysDlvryDtls" type="DeliveryParameters3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdSttlmCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdNAVCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshSttlmDtls" type="PaymentTransaction72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonStdSttlmInf" type="Max350Text"/>
            <xs:element maxOccurs="4" minOccurs="0" name="StffClntBrkdwn" type="InvestmentFundsOrderBreakdown2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinAdvc" type="FinancialAdvice1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NgtdTrad" type="NegotiatedTrade1Code"/>
            <xs:element maxOccurs="10" minOccurs="0" name="RltdPtyDtls" type="Intermediary40"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Equlstn" type="Equalisation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrCndctClssfctn" type="CustomerConductClassification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxChanlTp" type="TransactionChannelType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgntrTp" type="SignatureType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrWvrDtls" type="OrderWaiver1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RedemptionOrderV04">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolRef" type="AdditionalReference9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvsRef" type="AdditionalReference8"/>
            <xs:element name="MltplOrdrDtls" type="RedemptionMultipleOrder6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDtls" type="CopyInformation4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResidentialStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RESI"/>
            <xs:enumeration value="PRES"/>
            <xs:enumeration value="NRES"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RoundingDirection2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RDUP"/>
            <xs:enumeration value="RDWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="RU[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat8Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText6"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification78"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText6">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification25Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="SEDOL" type="SEDOLIdentifier"/>
            <xs:element name="CUSIP" type="CUSIPIdentifier"/>
            <xs:element name="RIC" type="RICIdentifier"/>
            <xs:element name="TckrSymb" type="TickerIdentifier"/>
            <xs:element name="Blmbrg" type="Bloomberg2Identifier"/>
            <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
            <xs:element name="QUICK" type="QUICKIdentifier"/>
            <xs:element name="Wrtppr" type="WertpapierIdentifier"/>
            <xs:element name="Dtch" type="DutchIdentifier"/>
            <xs:element name="Vlrn" type="ValorenIdentifier"/>
            <xs:element name="SCVM" type="SicovamIdentifier"/>
            <xs:element name="Belgn" type="BelgianIdentifier"/>
            <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
            <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Series1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsDt" type="DateFormat42Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrsNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementTransactionCondition11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOMC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementTransactionCondition30Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementTransactionCondition11Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SignatureType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="SignatureType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SignatureType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIGI"/>
            <xs:enumeration value="ELEC"/>
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="ORIG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SmallNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SouthAfricanNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ZA[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ES[0-9]{8,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SubAccount6">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SwissBCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissSICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Tax30">
        <xs:sequence>
            <xs:element name="Tp" type="TaxType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tax" type="TaxAmountOrRate4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element name="XmptnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XmptnRsn" type="ExemptionReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxClctnDtls" type="TaxCalculationInformation9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxAmountOrRate4Choice">
        <xs:choice>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxBasis1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxationBasis2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxCalculationInformation9">
        <xs:sequence>
            <xs:element name="Bsis" type="TaxBasis1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxExemptReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="MASA"/>
            <xs:enumeration value="MISA"/>
            <xs:enumeration value="SISA"/>
            <xs:enumeration value="IISA"/>
            <xs:enumeration value="CUYP"/>
            <xs:enumeration value="PRYP"/>
            <xs:enumeration value="ASTR"/>
            <xs:enumeration value="EMPY"/>
            <xs:enumeration value="EMCY"/>
            <xs:enumeration value="EPRY"/>
            <xs:enumeration value="ECYE"/>
            <xs:enumeration value="NFPI"/>
            <xs:enumeration value="NFQP"/>
            <xs:enumeration value="DECP"/>
            <xs:enumeration value="IRAC"/>
            <xs:enumeration value="IRAR"/>
            <xs:enumeration value="KEOG"/>
            <xs:enumeration value="PFSP"/>
            <xs:enumeration value="401K"/>
            <xs:enumeration value="SIRA"/>
            <xs:enumeration value="403B"/>
            <xs:enumeration value="457X"/>
            <xs:enumeration value="RIRA"/>
            <xs:enumeration value="RIAN"/>
            <xs:enumeration value="RCRF"/>
            <xs:enumeration value="RCIP"/>
            <xs:enumeration value="EIFP"/>
            <xs:enumeration value="EIOP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxType17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROV"/>
            <xs:enumeration value="NATI"/>
            <xs:enumeration value="STAT"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="KAPA"/>
            <xs:enumeration value="NKAP"/>
            <xs:enumeration value="INPO"/>
            <xs:enumeration value="STAM"/>
            <xs:enumeration value="WTAX"/>
            <xs:enumeration value="INHT"/>
            <xs:enumeration value="SOSU"/>
            <xs:enumeration value="CTAX"/>
            <xs:enumeration value="GIFT"/>
            <xs:enumeration value="COAX"/>
            <xs:enumeration value="EUTR"/>
            <xs:enumeration value="AKT1"/>
            <xs:enumeration value="AKT2"/>
            <xs:enumeration value="ZWIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxType17Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxationBasis2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLAT"/>
            <xs:enumeration value="PERU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxationBasis5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLAT"/>
            <xs:enumeration value="GRAM"/>
            <xs:enumeration value="NEAM"/>
            <xs:enumeration value="NAVP"/>
            <xs:enumeration value="PERU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradeTransactionCondition5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XCPN"/>
            <xs:enumeration value="CCPN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeTransactionCondition8Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradeTransactionCondition5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TransactionChannel2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIAD"/>
            <xs:enumeration value="HOBA"/>
            <xs:enumeration value="BRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionChannelType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TransactionChannel2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="UKDomesticSortCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SC[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UKTaxGroupUnit1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GRP1"/>
            <xs:enumeration value="GRP2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WaivingInstruction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WICA"/>
            <xs:enumeration value="WIUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="WaivingInstruction2Choice">
        <xs:choice>
            <xs:element name="Cd" type="WaivingInstruction1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
